<h1>New Flight</h1>

<div ng-controller="FlightAddNew">

    <form class="form-horizontal" role="form" novalidate>
        <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"  ng-model="flight.name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Seats</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"  ng-model="flight.seats">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Price</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"  ng-model="flight.price">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Distance</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"  ng-model="flight.distance">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Date of Departure</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"  ng-model="flight.dateOfdeparture">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">From ID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"  ng-model="flight.from">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">To ID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"  ng-model="flight.to">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="save(flight)">Save</button>
            </div>
        </div>
    </form>

</div>